@import "normalize";
@import "typeahead";
@import "header";

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font: 13px Helvetica, arial, freesans, clean, sans-serif; 
}
p{
    line-height: 150%;
}
ul{
    li{
        margin-bottom: 0.4em; 
    }
}
.clickable{
    cursor: pointer;
    transition: box-shadow 1s;
    -webkit-box-shadow: 0px 0px 0px 1px white, 0px 0px 1px 2px green;
       -moz-box-shadow: 0px 0px 0px 1px white, 0px 0px 1px 2px green;
            box-shadow: 0px 0px 0px 1px white, 0px 0px 1px 2px green;
}
.page-outer{

}
.page-inner{
    @extend .clearfix;
    width: 920px;
    margin: 0 auto;
    padding: 0;
}
.left-column{
    width: 220px;
    float: left;
}
.right-column{
    float: right;
    width: 680px;
}
#gravatar{
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}
.name{
    letter-spacing: -1px;
    color: #495961;
}
.username{
    font-weight: 300;
    font-size: 20px;
    color: #666;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    margin-top: -14px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}
.grid-container{
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    h3{
        background: #f7f7f7;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        line-height: 100%;
        width: 100%;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        #userBox{
            float: left; 
            margin-left: 15px;
        }
        #stepsBox{
            float: right; 
            margin-right: 15px;
        }
    }
    #grid{
        transition: box-shadow 0.5s;
        margin: 24px;
    }
}
.intro{
    h1{
        font-size: 3em; 
    }
    margin-bottom: 2em;
}
.form-contain{
    width: 100%;
    margin: 0 auto;
    .twitter-typeahead{
        width: 75%;
        height: 50px;
    }
    input[type="text"]{
        width: 100%;
        height: inherit;
        padding: 10px;
        float: left;
        border-radius: 3px;
    }
    input[type="submit"]{
        display: block;
        width: 23%;
        float: right;
        height: 50px;
    }
}
.footer{
    font-size: 85%;
    float: right;
    margin: 10px 0;
}
// .tt-hint{
//     color: #ccc;
// }
// .tt-dropdown-menu{
//     background: white;
//     width: 100%;
//     border: 1px solid #ddd;
//     border-top: none;
//     border-bottom-left-radius: 3px;
//     border-bottom-right-radius: 3px;
// }
// .tt-suggestion{
//     padding-left: 10px;
//     border-bottom: 1px solid #ddd;
//     background: #f7f7f7;
//     p{
//         margin: 0;
//         padding: 1em;
//     }
// }
// .tt-is-under-cursor{
//     background: white;
//     box-shadow: inset 0px 0px 15px rgba(0,0,0,0.1);
// }
.todo{
    margin-top: 70px;
}
@import "footer";
