@import "normalize";
@import "header";

*{
    box-sizing: border-box;
}
body{
    font: 13px Helvetica, arial, freesans, clean, sans-serif; 
}
.page-contain{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 100px;
}
#message{
    color: red;
    height: 2em;
}
.grid-container{
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 680px;
    h3{
        background: #f7f7f7;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        line-height: 100%;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    #grid{
        height: 82px;
        width: 634px;
        margin: 24px;
    }
}
.form-contain{
    width: 680px;
    margin: 0 auto;
}

@import "footer";
